In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\Shobhan Sarkar\OneDrive\Desktop\ACM SIGCHI\insurance.csv")

In [4]:
data.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
data = pd.read_csv(r"C:\Users\Shobhan Sarkar\OneDrive\Desktop\ACM SIGCHI\insurance.csv")

# Separate categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Initialize the LabelEncoder
label_encoders = {}

# Apply LabelEncoder to each categorical column
for column in categorical_columns:
    le = LabelEncoder()
    data[column] = le.fit_transform(data[column].astype(str))
    label_encoders[column] = le

# Separate numerical columns, excluding 'charges'
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns
numerical_columns = numerical_columns.drop('charges')

# Initialize the StandardScaler
scaler = StandardScaler()

data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

charges_scaler = StandardScaler()
data['scaled_charges'] = charges_scaler.fit_transform(data[['charges']])

print("\nFirst few rows after encoding and scaling:\n", data.head())

First few rows after encoding and scaling:
         age  sex       bmi  children  smoker  region      charges  \
0 -1.438764    0 -0.453320 -0.908614       1       3  16884.92400
1 -1.509965    1  0.509621 -0.078767       0       2   1725.55230
2 -0.797954    1  0.383307  1.580926       0       2   4449.46200
3 -0.441948    1 -1.305531 -0.908614       0       1  21984.47061
4 -0.513149    1 -0.292556 -0.908614       0       1   3866.85520

   scaled_charges
0        0.298584
1       -0.953689
2       -0.728675
3        0.719843
4       -0.776802

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X = data.drop(columns=['charges', 'scaled_charges'])
y = data['scaled_charges']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (1070, 6)
X_test shape: (268, 6)
y_train shape: (1070,)
y_test shape: (268,)

In [38]:
from sklearn.svm import SVR
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error

param_grid = {
    'kernel': ['linear','rbf','sigmoid','poly'], 
    'gamma': [ 0.01, 0.1, 1,1.2,1.8] 
}

In [39]:

svr = SVR()
random_search = RandomizedSearchCV(
    svr, 
    param_distributions=param_grid, 
    n_iter=5,  
    cv=3, 
    random_state=42
)

In [40]:
random_search.fit(X_train, y_train)
print("Best parameters found: ", random_search.best_params_)

Best parameters found:  {'kernel': 'poly', 'gamma': 1.2}

In [41]:
best_svr = random_search.best_estimator_
best_svr.fit(X_train, y_train)
y_pred = best_svr.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)

Mean Absolute Error (MAE): 0.21789434392156065
Mean Squared Error (MSE): 0.15930337617116494